.dropbutton
{
	width: 400px;
	padding: 1rem 1.875rem;
	border-radius: 1.5625rem;
	position: relative;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.5rem;
	line-height: 1;
	text-align: center;
	border: 0.0625rem solid transparent;
	cursor: pointer;
	color: #f9f7f8;
	border-color: #b51742;
	background-color: #b51742;
	vertical-align: middle;
}
.dropdown 
{
	margin-right: 40%;
	margin-left: 40%;
	position: relative;
	display: inline-block;
}
.dropcontent 
{
	display: none;
	position: absolute;
	background-color: #a55268;
	border-radius: 1.5625rem;
	min-width: 400px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropcontent a
{
	color: black;
	padding: 12px 16px;
	cursor: pointer;
	font-family: 'Courier New', Courier, monospace;
	text-decoration: none;
	text-align: center;
	display: block;
}
.dropcontent a:hover
{
	color: #f1f1f1;
	border-radius: 2px;
	border-color: rgb(255, 255, 255);
}
.dropdown:hover .dropcontent 
{
	display: block;
}

.dropdown:hover .dropbutton 
{
	border-color: #f1f1f1;
	background-color: #820b2a;
}